.library-song {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: .7rem;
	margin-bottom: 1rem;
	margin-left: 2rem;
	cursor: pointer;
	transition: all .3s ease;
	&:hover {
		background-color: #0000007d;
	}
	&__block {
		position: relative;
		max-width: 30%;
		margin-right: 2rem;
	}
	&__img {
		width: 100%;
	}
	.active {
		opacity: .9;
	}
	&__descr {
		display: flex;
		flex-direction: column;
		gap: 0.7rem;
		pointer-events: none;
		h4 {
			color: #c4c4c4;
			font-size: 0.9rem;
		}
	}
	.like {
		position: relative;
		margin-left: auto;
		z-index: 100;
	}
}

.library-song-active {
	background-color: #0000007d;
	h3 {
		color: #1db954;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155,155,155, .5) transparent;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155,155,155, .5);
	border-radius: 20px;
	border: transparent;
}